bleach==3.1.0
certifi==2019.6.16
dj-database-url==0.5.0
Django==2.1.5
django-crispy-forms==1.7.2
django-heroku==0.3.1
gunicorn==19.9.0
Markdown==3.1
mistune==0.8.4
psycopg2==2.7.6.1
psycopg2-binary==2.8.3
Pygments==2.3.1
python-dotenv==0.10.3
pytz==2018.9
six==1.12.0
webencodings==0.5.1
whitenoise==4.1.3
