.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.content {
    margin-left: 40px;
}

.date {
    color: #828282;
}

.admin {
    padding: 10px 5px 10px 5px;
}

.admin a, i {
    vertical-align: middle;
    margin-right: 5px;
}

.post {
    margin-bottom: 20px;
}

.post-form-blog textarea {
    width: 100%;
}

.post-form-blog .btn-primary {
    float: right;
}

.comment {
    margin: 20px 0px 20px 0px;
}

